:root {
  --background: #f0f8ff;
  --foreground: #171717;

  --card-active: #007acc;
  --card-inactive: #e0e7ff;
  --button-hover: #005f99;

  --task-column-bg: #d6eaff;
}

/* Tema oscuro */
[data-theme="dark"] {
  --background: #282a36;
  --foreground: #f8f8f2;

  --card-active: #3c6e71;
  --card-inactive: #5c5f66;
  --button-hover: #28494b;
  --task-column-bg: #44475a;
}

html,
body {
  max-width: 100vw;
  overflow-x: hidden;
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

a {
  color: inherit;
  text-decoration: none;
}

html, body {
  transition: background-color 0.3s ease, color 0.3s ease;
}

.page-root {
  transition: background-color 0.3s ease;
}

.carousel-day, .add-task-button, .modal-content, .columns {
  transition: background-color 0.3s ease, color 0.3s ease;
}

