.Card-root {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 300px;
    min-height: 500px;
    background-color: var(--task-column-bg);
    border-radius: 8px;
    padding: 20px;
  }
  
  .Card-title {
    font-size: 1.2rem;
    font-weight: bold;
    margin-bottom: 10px;
  }

  .column-title {
    font-weight: bold;
    font-size: 1.5rem;
    margin-bottom: 5px;
  }
  
  .Drop-zone {
    height: 100%;
    width: 100%;
    padding: 10px;
    border: 2px dashed var(--card-active);
  }
  
  .Draggable-root {
    background-color: var(--background);
    position: relative;
    padding: 16px;
    border-radius: 8px;
    box-shadow: 0 10px 10px rgba(0, 0, 0, 0.1);
    cursor: grab;
    margin-bottom: 10px;
    transition: background-color 0.2s;
  }
  
  .Draggable-root.dragging {
    background-color: var(--card-active) !important;
    color: white;
  }
  
  .task-title {
    margin-bottom: 8px; /* Añade espacio entre el título y la descripción */
    white-space: pre-wrap;  /* Mantiene los saltos de línea y espacios */
    word-wrap: break-word;  /* Permite que las palabras largas se ajusten dentro del contenedor */
  }
  
  .task-desc {
    margin-top: 8px; /* Elimina margen superior */
    white-space: pre-wrap;  /* Mantiene los saltos de línea y espacios */
    word-wrap: break-word;  /* Permite que las palabras largas se ajusten dentro del contenedor */
  }

  .del-task{
    position: absolute;
    top: 0.5rem;
    right: 0.5rem;
  }
  .edi-task{
    position: absolute;
    bottom: 0.5rem;
    right: 0.5rem;
  }