.Card-root {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 300px;
    min-height: 500px;
    background-color: var(--task-column-bg);
    border-radius: 8px;
    padding: 20px;
  }
  
  .Card-title {
    font-size: 1.2rem;
    font-weight: bold;
    margin-bottom: 10px;
  }

  .column-title {
    font-weight: bold;
    font-size: 1.5rem;
    margin-bottom: 5px;
  }
  
  .Drop-zone {
    height: 100%;
    width: 100%;
    padding: 10px;
    border: 2px dashed var(--card-active);
  }
  
  .Draggable-root {
    background-color: var(--background);
    position: relative;
    // padding: 16px;
    padding-top: 20px;
    padding-left: 16px;
    padding-bottom: 40px;
    padding-right: 22px;
    border-radius: 8px;
    box-shadow: 0 10px 10px rgba(0, 0, 0, 0.1);
    cursor: grab;
    margin-bottom: 10px;
    transition: background-color 0.2s;
  }  
  .Draggable-root.dragging {
    background-color: var(--card-active) !important;
    color: white;
  }
  
  .task-title {
    margin-bottom: 8px;
    white-space: pre-wrap;
    word-wrap: break-word; 
  }
  
  .task-desc {
    margin-top: 8px;
    white-space: pre-wrap;
    word-wrap: break-word;
  }

  .del-task{
    position: absolute;
    top: 0.5rem;
    right: 0.5rem;
  }
  .edi-task{
    position: absolute;
    bottom: 0.5rem;
    right: 0.5rem;
  }
  .icone{
    color: var(--card-active);
    cursor: pointer;
    transition: 0.6s;
  }
  .priorita{
    width: 40px;
    height: 20px;
    border-radius: 20px;
    background-color: var(--button-hover);
    position: absolute;
    bottom: 0.7rem;
    left: 0.7rem;
    cursor: pointer;
  }
  .priorita-menor{
    width: 20px;
    height: 20px;
    border-radius: 20px;
    background-color: var(--card-active);
    transition: 0.6s;
    left: 0px;
  }
  .priorita-menor.active{
    margin-left: 20px;
  }